@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.only-print {
    display: none;
}

@media print {
    :root {
        font-size: 12px;
    }

    body * {
        visibility: hidden;
    }

    body {
        -webkit-print-color-adjust: exact;
    }

    .only-print {
        display: block;
    }

    .print-out,
    .print-out * {
        visibility: visible;
    }

    .print-out .print-out__hide {
        display: none !important;
    }

    .print-out {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        min-height: 100vh;
    }
}
